{% extends 'flatpages/default.html' %}
{% block title %} Product list {% endblock title %}
 
{% block content %}
<table>
    <thead>
        <th>
            Category
        </th>
        <th>
            Title
        </th>
        <th>
            Rating
        </th>
    </thead>
    <tr>
        <td>
            {{ new.categoryType|title }}
        </td>
        <td>
            {{ new.Title }}
        </td>
        <td>
            {{ new.Rating }}
        </td>
    </tr>
</table>
{% endblock content %}