{% extends 'flatpages/default.html' %}

{% block title %}
new
{% endblock title %}

{% block content %}
<h4>{{ new.dateCreation|date:'d M Y, G:i' }}</h4>
<h1>{{news.title}}. </h1>
<hr>
<h3>{{news.text}}</h3>
<hr/>
{{news.author}}
{{ news.id }}

<br>
{{ news.postCategory.get}}
<br>
{{news.postCategory.get.id}}

<br>
{{ news.postCategory.get.subscribers.all }}
<br>
{% if  request.user  in  news.postCategory.get.subscribers.all  %}

<br>

{%for category in news.postCategory.all %}

<a href="{%url 'subscribed'  news.postCategory.get.id %}">Отписка</a>
{% endfor %}

{% else %}
{%for category in news.postCategory.all %}
<a href="{%url 'subscribed'  news.postCategory.get.id %}">Подписка</a>
{% endfor %}
{% endif %}




<br>

<a href="{% url 'news_update' news.id %}"><u>Редактировать</u></a>

<a href="{% url 'news_delete' news.id %}"><u> Удалить </u></a><br>


{% endblock content %}
