{% extends 'flatpages/default.html' %}
{% block title %} News {% endblock title %}
 
{% block content %}
<h2>Вы действительно хотите удалить данную статью?</h2>
<table>
    <thead>
      <tr>
        <th>
            Заголовок
        </th>

        <th>
            Новость
        </th>

      </tr>
    </thead>
    <tr>
        <td>
            {{ new.title|title }}
        </td>

        <td>
            {{ new.text }}
        </td>

    </tr>
</table>
 
<form method="POST">
    {% csrf_token %}
    <input type="submit" value="Подтвердить"></form>
{% endblock content %} 